//#region Fonts
$primary-color: #ffffff;
$secondary-color: #697DBD;
//#endregion

//#region Background
$header-background: #383838;
$content-background: #0C122A;
$footer-background: #383838;
//#endregion

$sent-button: #2B4B6F;
$delete-button: #AA3939;