@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

%font-family-regular {
    font-family: 'Open Sans', sans-serif;
}

%font-family-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}